<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../../vendor/bootstrap-4.3.1.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T">
  <title>Speed Dial Quantum</title>
</head>

<body>
  <main class="container-fluid" id="root" style="margin-top: 0.5em"></main>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Groups</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group" id="groupsList">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="newGroupModal" tabindex="-1" role="dialog" aria-labelledby="newGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newGroupModalLabel">New Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="newGroupName">Name*</label>
              <input class="form-control" id="newGroupName" placeholder="Name (required)" type="text" required />
            </div>
            <div class="form-group">
              <label for="newGroupRows">Rows*</label>
              <input class="form-control" id="newGroupRows" placeholder="Rows (required)" type="number" min="1" required />
            </div>
            <div class="form-group">
              <label for="newGroupCols">Columns*</label>
              <input class="form-control" id="newGroupCols" placeholder="Columns (required)" type="number" min="1" required />
            </div>
            <div class="form-group">
              <label for="newGroupThumbnailImgSize">Thumbnail Image Size</label>
              <select class="form-control" id="newGroupThumbnailImgSize">
                <option label="Auto" value="auto" selected>Auto</option>
                <option label="Small" value="small">Small</option>
                <option label="Medium" value="medium">Medium</option>
                <option label="Large" value="large">Large</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-success" id="newGroupBtn">Add Group</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog" aria-labelledby="editGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editGroupModalLabel">Edit Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <input type="hidden" id="editGroupId" />
            <div class="form-group">
              <label for="editGroupName">Name*</label>
              <input class="form-control" id="editGroupName" placeholder="Name (required)" type="text" required />
            </div>
            <div class="form-group">
              <label for="editGroupRows">Rows*</label>
              <input class="form-control" id="editGroupRows" placeholder="Rows (required)" type="number" min="1" required />
            </div>
            <div class="form-group">
              <label for="editGroupCols">Columns*</label>
              <input class="form-control" id="editGroupCols" placeholder="Columns (required)" type="number" min="1" required />
            </div>
            <div class="form-group">
              <label for="editGroupThumbnailImgSize">Thumbnail Image Size</label>
              <select class="form-control" id="editGroupThumbnailImgSize">
                  <option label="Auto" value="auto" selected>Auto</option>
                  <option label="Small" value="small">Small</option>
                  <option label="Medium" value="medium">Medium</option>
                  <option label="Large" value="large">Large</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-success" id="editGroupBtn">Update Group</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">FAQ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <article>
            <p><b>How can I use the keyboard shortcuts?</b></p>
            <p>
              Just like the old Firefox Speed Dial extension, you can use
              `Ctrl+&lt;number&gt;` to open in the same tab and
              `Alt+&lt;number&gt;` to open in a new tab.
            </p>
          </article>
          <article>
            <p>
              <b>
                The keyboard shortcuts are not working. What am I doing wrong?
              </b>
            </p>
            <p>
              Unfortunately, new web browsers only allow extensions to have
              arbitrary non-fixed keyboard shortcuts when a web page is focused.
            </p>
          </article>
          <article>
            <p>
              <b>
                I find the keyboard shortcuts annoying. How can I disable them?
              </b>
            </p>
            <p>
              Check the checkbox in the top left of the new tab and the
              shortcuts will only work if `Shift` is key is pressed.
            </p>
          </article>
          <article>
            <p><b>What are the pages/thumbnails I can import?</b></p>
            <p>
              Currently, you can import from one of the following:
              <br>
              1. Firefox's old Speed Dial extension.
              <br>
              2. The same extension (Speed Dial Quantum).
              <br>
              <br>
              And support for others may be added based on how many users can
              benefit.
            </p>
          </article>
          <article>
            <p>
              <b>
                The new tab page sometimes shows the browser's default one.
                What's going on?
              </b>
            </p>
            <p>
              This can happen when the extension is updated and I need to do
              some research to see if this can be avoided.
            </p>
          </article>
          <article>
            <p><b>What are the supported web browsers?</b></p>
            <p>
              Currently, the Firefox version before quantum (56) and above and
              any reasonably new version of Google Chrome/Chromium and support
              for Microsoft Edge & Opera is planned.
            </p>
          </article>
          <article>
            <p><b>What are some of the planned changes/features?</b></p>
            <p>
              The only visible planned change/feature, at the moment, is using
              a global single-shortcut. For example, `Ctrl+Shift+X` (similar to
              1Password) that would open the extension popup and you can take it
              from there. Because many users are not used to the current
              behavior and it also requires access to all web pages.
            </p>
          </article>
          <article>
            <p>
              <b>I have a suggestion or found a bug or something stupid?</b>
            </p>
            <p>
              Just drop me a line on
              <a target="_blank" href="https://twitter.com/Ahymta">Twitter</a>.
            </p>
          </article>
          <article>
            <p><b>What is the copyrights or required attributions?</b></p>
            <p>
              <a href="https://linkedin.com/in/ahimta" rel="noopener" target="_blank">
                © 2018 Abdullah Alansari
              </a>
              and
              icon used for loading images is the property of
              <a href="https://commons.wikimedia.org/wiki/User:Tobias1984">
                Tobias1984
              </a>
            </p>
          </article>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editThumbnailModal" tabindex="-1" role="dialog" aria-labelledby="editThumbnailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editThumbnailModalLabel">Edit Thumbnail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <input type="hidden" id="editThumbnailId" />
            <div class="form-group">
              <label for="editThumbnailTitle">Title*</label>
              <input class="form-control" id="editThumbnailTitle" placeholder="Title (required)" type="text" required />
            </div>
            <div class="form-group">
              <label for="editThumbnailUrl">URL*</label>
              <input class="form-control" id="editThumbnailUrl" placeholder="URL (required)" type="url" required />
            </div>
            <div class="form-group">
              <label for="editThumbnailImg">Image</label>
              <input class="form-control" id="editThumbnailImg" type="file" accept="image/*" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-success" id="editThumbnailBtn">Update Thumbnail</button>
        </div>
      </div>
    </div>
  </div>

  <a id="importDownload" target="_blank"></a>

  <script src="../../vendor/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>

  <script src="../../vendor/popper-1.14.7.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"></script>

  <script src="../../vendor/bootstrap-4.3.1.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>

  <script src="../../vendor/raven-3.26.4.min.js" integrity="sha384-7zaZhdtWTKq5xNtp4WyvUJvEQ+aETU+FlQnpLIbepx2bQAee8znJJjmlydqQjbn/"></script>

  <script src="../../dist/newtab.js"></script>
</body>

</html>
